
body {

}


header {
   background-color: grey;
   color: white;
   height: 100px;
}

h1 {
  font-size: 4em;
  font-family: helvetica;
  text-align: center;
  padding-top: 20px;
}

h3 {
  font-size: 2em;
  font-family: helvetica;

}

main {
  background-color: darkgrey;
  height: 800px;
  margin: 10px 40px;
  display: flex;
  /* justify-content: space-between; */
}

.mainLeft {
background-color: yellow;
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.mainRight {
background-color: tan;
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

 
form {
  display: flex;
  background-color: yellow;
  width: 100%;
  justify-content: space-between;
}


form>input {
  width: 300px;
}

form>button {

}


.description {
background-color: green;
width: 75%;
}

.description>h3 {
  margin-bottom: 20px;
}

.score-ctr {
  background-color: salmon;
  width: 80%;
}

.previousScore {
  background-color: red;
height: 300px;
  width: 80%;
}

.mainRight>button {
  width: 200px;
  height: 70px;
  border-radius: 20px;
  font-size: 2em;

}
 