/* BODY ELEMENT */

body {
  font-family: helvetica;
}




/* HEADING, PARAGRAPH, FONTS */

h1 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}




/* HEADER NAV */
header {
  background-color: rgb(60, 60, 60);
  color: white;
  height: 120px;
  display: grid;
  place-items: center;
}





/* HOME PAGE MAIN SECTION */

main {
  background-color: darkgrey;
  height: 700px;
  margin: 30px 40px;
  display: flex;
}

.mainLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: cadetblue;
}


form {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

form>div {
  display: flex;
  flex-direction: column;
  width: 50%;
}


form>div>input {
  width: 100%;
  height: 30px;
}

form>div>button {
  width: 60%;
  margin-top: 30px;
  height: 50px;
  border-radius: 20px;
  font-size: 2em;
}


.description {
  width: 90%;
  position: relative;
  top: -100px;
}

.description>h3 {
  margin-bottom: 20px;
}

.description>p {
  font-size: 1.5em;
}


.mainRight {
  width: 50%;
  background-color: blue;
}

.score-ctr {
  background-color: rgb(216, 216, 216);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
}

.score-ctr>h3 {
  margin-top: 30px;
}

.previousScore {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainRight>a>button {
  width: 200px;
  height: 70px;
  border-radius: 20px;
  font-size: 2em;
  margin-left: 25%;
}


/* FOOTER SECTION - TEAM PROFILES */

footer {
  background-color: lightcyan;
  margin-top: 40px;
  height: 350px;
  display: flex;
}

.prof-ctr {
  background-color: green;
  height: 85%;
  width: 300px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.prof-img {
  width: 90%;
  height: 55%;
  background-color: indigo;
}

.prof-name {
  width: 90%;
  height: 30%;
  background-color: lavender;
  display: grid;
  place-items: center;
}




/* BATTLE PAGE CSS */

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}


/* Quiz Question Container */
.quiz-ctr {
  background-color: cornsilk;
  width: 500px;
  height: 40%;
}

.quiz-ctr>h3 {
  margin: 20px 0px 30px 20px;
}

.quiz-ctr>input {
  margin: 20px 30px;
}

.quiz-ctr>button {
  width: 80px;
  height: 25px;
  background-color: black;
  color: white;
}

/* Hero Container */
.hero-ctr {
  background-color: cyan;
  width: 500px;
  height: 40%;
  display: flex;
  align-items: center;
}

.hero-ctr>img {
margin: 20px 20px;
}

.healthbar {
  background-color: green;
  width: 150px;
  height: 10px;
}

.hero-info {
display: flex;
flex-direction: column;
}



/* Opponent Container */
.opponent-ctr {
  background-color: cyan;
  width: 500px;
  height: 40%;
  display: flex;
  align-items: center;
}

.opponent-ctr>img {
  margin: 20px 20px;
  }


  /* Attack Selection Container */
.attack-ctr {
  background-color: cornsilk;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.attack-item-light {
  border: solid 10px black;
  padding: 20px;
  border-radius: 20px;
}

.attack-item-medium {
  border: solid 10px black;
  padding: 20px;
  border-radius: 20px;
}
.attack-item-heavy {
  border: solid 10px black;
  padding: 20px;
  border-radius: 20px;
}









