/* BODY ELEMENT */

body {
  font-family: helvetica;
  background-color: rgb(211, 211, 211);
  background-size: cover;
}

#indexbody {
  background-image: url(img/battle.jpg);
}

#resultsbody {
  background-image: url(img/battle.jpg);
}

  /* Photo by Hasan Almasi on Unsplash  */
/* HEADING, PARAGRAPH, FONTS */

h1 {
  font-size: 4em;
  font-family: 'Russo One', sans-serif;
}

h2 {
  font-size: 5em;
  font-family: 'Russo One', sans-serif;
}

h3 {
  font-size: 2em;
  font-family: 'Russo One', sans-serif;
}

h4 {
  font-size: 1.4em;
  font-family: 'Russo One', sans-serif;
}

h5 {
  font-size: 1.3em;
  font-family: 'Russo One', sans-serif;
}

/* HEADER NAV */
header {
  background-color: rgb(60, 60, 60);
  color: white;
  height: 120px;
  display: grid;
  place-items: center;
  font-family: 'Russo One', sans-serif;
}

/* HOME PAGE MAIN SECTION */

main {
  /* background-color: darkgrey; */
  height: 700px;
  margin: 30px auto;
  display: flex;
}

.mainLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: white; */

}

form {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

form > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form > div > input {
  width: 100%;
  height: 30px;
}

form > div > button {
  width: 60%;
  margin-top: 30px;
  height: 50px;
  border-radius: 20px;
  font-size: 2em;
  font-family: 'Russo One', sans-serif;
}

button {
  font-family: 'Russo One', sans-serif;
}

.description {
  width: 90%;
  position: relative;
  top: -100px;
  background-color: white;
  padding: 1rem;
  border-radius: 3px;
}

.description > h3 {
  margin-bottom: 20px;
}

.description > p {
  font-size: 1.5em;
}

.mainRight {
  width: 50%;
  /* background-color: white; */
}

.score-ctr {
  background-color: rgb(216, 216, 216);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
}

.score-ctr > h3 {
  margin-top: 30px;
}

.previousScore {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#previousScores {
  font-size: 2em;
  font-weight: bold;
}

.mainRight > a > button {

  width: 300px;
  height: 70px;
  border-radius: 20px;
  font-size: 2em;
  margin-left: 25%;
}

/* FOOTER SECTION - TEAM PROFILES */

footer {
  background-color: rgb(60, 60, 60);
  margin-top: 40px;
  height: 350px;
  display: flex;
}

.prof-ctr {
  /* background-color: rgb(209, 53, 53); */
  height: 85%;
  width: 300px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.prof-img {
  width: 90%;
  height: 55%;
  /* background-color: indigo; */
}

.prof-name {
  width: 90%;
  height: 30%;
  background-color: lavender;
  display: grid;
  place-items: center;
}

/* BATTLE PAGE CSS */

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Quiz Question Container */
.quiz-ctr {
  background-color: cornsilk;
  background-image: url(img/list-bg.png);
  /* background-position: center center; */
  background-size: cover;
  width: 500px;
  /* height: 40%; */
  min-height: 40%;
  max-height: 50%;
  padding-right: 20px;
}

.quiz-ctr-form {
  display: none;
  font-size: 0.7em;
}


.quiz-ctr-form>h3 {
  margin: 20px 0px 30px 40px;
  font-size: 1.5em;
}

/* .quiz-ctr-form>input {
  margin: 10px 30px;
} */

input[type="radio"] {
  float: left;
  margin-left: 40px;
}

label {
  margin-left: 60px;
  display: block;
  font-size: 18px;
}

.quiz-ctr-form > button {
  width: 80px;
  height: 25px;
  background-color: blue;
  color: white;
  margin-left: 200px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/* Hero Container */
.hero-ctr {
  font-family: 'Russo One', sans-serif;
  background-image: linear-gradient(200deg, rgb(53, 167, 0), rgb(254, 255, 168));
  /* background-image: url(img/battle2.jpg); */
  background-position: center;
  border: solid 10px black;
  box-shadow:  3px 3px 5px black, 0 0 25px rgb(0, 175, 15), 0 0 25px rgb(255, 217, 141);
  border-width: .75em;
  background-size: cover;
  width: 500px;
  height: 40%;
  display: flex;
  align-items: center;
  border-image: url(img/forest-bathing.jpg) 50 round;
}
/* https://time.com/5259602/japanese-forest-bathing/ */

.hero-ctr > img {
  margin: 20px 20px;
}





.healthbar {
  background-color: white;
  width: 150px;
  height: 10px;
  border-radius: 20px;
}

#heroHealthBar {
  background-color: rgb(15, 169, 15);
  height: 100%;
  width: 0%;
  transition: 2s;
  border-radius: 20px;
}

#enemyHealthBar {
  background-color: rgb(15, 169, 15);
  height: 100%;
  width: 0%;
  border-radius: 20px;
  transition: 2s;
}

.hero-info {
  display: flex;
  flex-direction: column;
}

#indexsubmitbutton{
  transition: .5s ease-in;
}

#indexsubmitbutton:hover {
background-color: rgb(151, 2, 2);
}

#entergamebutton {
  transition: .5s ease-in;
}

#entergamebutton:hover {
  background-color: rgb(151, 2, 2);
  transform:scale(1.1);
}

/* Opponent Container */
.opponent-ctr {
  font-family: 'Russo One', sans-serif;
  background-image: linear-gradient(100deg, rgb(231, 123, 123), rgb(70, 70, 70));
  /* background-image: url(img/clouds.jpg); */
  background-position: center center;
  border: solid 10px black;
  box-shadow: 3px 3px 5px black, 0 0 25px rgb(0, 0, 0), 0 0 25px rgb(255, 0, 0);
  border-width: .75em;
  background-size: cover;
  width: 500px;
  height: 40%;
  display: flex;
  align-items: center;
  position: relative;
  border-image: url(img/lava.jpg) 50 round;
  /* https://www.pinterest.com/pin/672514156847408472/ */
}

.opponent-ctr > img {
  margin: 20px 20px;
  z-index: 10;
}

/* Choose Your Attack Text */
#choose-attack {
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 5%; 
  background-color: rgb(206, 206, 206);
  padding: 3px;
  border: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;

}







/* Attack Selection Container */
.attack-ctr {
  cursor: default;
  font-family: 'Russo One', sans-serif;
  font-size: .8em;
  background-color: cornsilk;
  background-image: linear-gradient(100deg, rgb(90, 90, 90), rgb(214, 214, 214));
  background-image: url(img/battle.jpg);
  /* background-image: url(img/Medieval-Weapons.gif); */
  /* background-image: url(img/horde.png); */
  /* Photo by Hasan Almasi on Unsplash  */
  background-position: center; 
  border-style: solid;
  border-width: .5em;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-size: cover;
}

.attack-item-light {
  border: solid 10px black;
  border-width: .5em;
  background-color:rgb(245, 238, 176);
  background-image: url(img/Medieval-Weapons.gif);
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
}

.attack-item-medium {
  border: solid 10px black;
  border-width: .5em;
  background-color:rgb(230, 183, 97);
  background-image: url(img/Medieval-Weapons.gif);
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
}
.attack-item-heavy {
  border: solid 10px black;
  border-width: .5em;
  background-color:rgb(197, 103, 86);
  background-image: url(img/Medieval-Weapons.gif);
  background-size: cover;
  /* background: rgba(0, 0, 0, 0.4); */
  padding: 20px;
  border-radius: 20px;
}

#lightattack {
  background-color: rgb(255, 240, 37);
  padding: 3px;
  border-radius: 3px;
}
#mediumattack {
  background-color: rgb(255, 139, 62);
  padding: 3px;
  border-radius: 3px;
}
#heavyattack {
  background-color: rgb(255, 47, 47);
  padding: 3px;
  border-radius: 3px;
}
/* RESULTS PAGE CSS */

.resultDisplay {
  /* background-color: blue; */
  width: 80%;
  height: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultDisplay > h2 {
  margin-bottom: 60px;
  animation: fadeIn 5s ease;
  text-shadow: 3px 3px #d4d4d4;
}

.resultDisplay button {
  width: 100px;
  height: 50px;
  transition: 300ms;
  /* animation: fadeIn 10s ease; */
}

.resultDisplay button:hover {
  width: 100px;
  height: 50px;
  transform: scale(1.2);
}

#hunter {
  background-image: url(img/hunter-fighter.png);
  background-size: cover;
}

#tim {
  background-image: url(img/tim-fighter.png);
  background-size: cover;
}

#rinat {
  background-image: url(img/rinat-fighter.png);
  background-size: cover;
}

#daniel {
  background-image: url(img/daniel-fighter.png);
  background-size: cover;
}
/* MORE BATTLE CSS --- This should be moved to bm.css eventually */


#hero-head {
  width: 100px;
  margin-top: 100px;
  
} 

#hero-img {
  width: 200px;
  height: 200px;
  animation: fadeIn 3s;
}

#enemy-img {
  width: 250px;
  height: 250px;
  animation: fadeIn 3s;
}

#enemyResponse {
  background-color: white;
  border: 4px black solid;
  border-radius: 20px;
  width: 350px;
  height: 100px;
  position: absolute;
  left: -180px;
  top: -110px;
  z-index: 4;
  display: none;
  place-items: center;
  

}

#enemyResponse:after {
	border: 38px solid transparent;
	border-top-color: black;
	content: '';
	position: absolute;
		top: 100%;
		left: 80%;
	width: 0;
	height: 0;
  transform: rotateY(40deg);
}




/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes youDied {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  30% {
    transform: translateY(0px) rotate(180deg);
  }
  100% {
    transform: translateY(500px);
  }
}

@keyframes youWon {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }

  50% {
    transform: scale(1.4) rotate(0deg);
  }

  75% {
    transform: rotate(-75deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes heroAttack {
  50% {
    transform: translateX(30px) translateY(-20px);
  }
}

@keyframes enemyHurt {
  50% {
    filter: hue-rotate(1000deg);
    transform: translateX(15px);
  }
}

@keyframes enemyAttack {
  50% {
    transform: translateX(-30px) translateY(20px);
  }
}

@keyframes heroHurt {

  50% {
    filter: hue-rotate(1000deg);
    transform: translateX(-15px);
  }
}


@keyframes bossDied {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  30% {
    transform: translateY(0px) rotate(180deg);
  }
  100% {
    transform: translateY(1000px);
  }
}



@-webkit-keyframes reset {
  to {width: auto;}
} 
